body {
	margin: 0;
	padding: 0;
	background-image: repeating-linear-gradient(
		to right,
		rgb(230, 195, 193),
		rgb(230, 195, 193) 100px,
		rgb(248, 123, 123) 100px,
		rgb(248, 123, 123) 200px,
		rgb(243, 165, 162) 200px,
		rgb(243, 165, 162) 300px,
		rgb(175, 195, 220) 300px,
		rgb(175, 195, 220) 400px
	);
}



#contact-form {
	padding:10px;
}

h2 {
	margin: 30px;
	padding: 30px;
}


#header {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 2%;
	margin-bottom: 20%;
	padding-top: 5%;
	font-size: 17vw;
}

.card {
	margin:47px;
}

.container {
	margin: 25px;
}